# ==========================
# BACKEND (.NET / Visual Studio)
# ==========================
.vs/
*.user
*.suo
bin/
obj/
*.dbmdl
*.log

# local ayarlar
appsettings.Development.json

# ==========================
# FRONTEND (Next.js, Node.js)
# ==========================
client/node_modules/
client/.next/
client/out/
client/package-lock.json
client/pnpm-lock.yaml
client/yarn.lock

# ==========================
# GENEL
# ==========================
.env*
*.tsbuildinfo
*.swp
*.tmp
*.bak
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# GIT ALT REPO KALDIRMA
client/.git/
