# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env*
.next/
out/

# Production
build/
dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Git metadata (eğer iç içe geçmiş repo sorun oluyorsa)
client/.git/

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Tailwind JIT cache
.tailwind/
